<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/AirTicketDatabase</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.example.skyticketdemo.entity.Airline"/>
        <mapping class="com.example.skyticketdemo.entity.Airport"/>
        <mapping class="com.example.skyticketdemo.entity.Flight"/>
        <mapping class="com.example.skyticketdemo.entity.Seat"/>
        <mapping class="com.example.skyticketdemo.entity.Ticket"/>
        <mapping class="com.example.skyticketdemo.entity.User"/>
        <mapping class="com.example.skyticketdemo.entity.Role"/>
    </session-factory>
</hibernate-configuration>